:root {
  --button-primary-bg: #3b49df;
  --button-primary-color: #f9fafa;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 720px;
  margin: 100px auto 0;
}

button {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
  border: none;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}
